body {
    color: black;
    background-color: #3aafab;
    font: 15px "Fira Sans","Helvetica Neue",sans-serif;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 10px auto ;
}
/*
    Significa que esa propiedad se le aplica a todo
*/
.container *{
    box-sizing: border-box;
}

.flex-outer,
.flex-inner{
    
    /* No me quita espacio del contenido */
    padding: 0;
    /* Quito los puntos de los ul y ui */
    list-style-type: none; 
}

.flex-outer{
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* Se le aplica a todos los hijos de la clase flex-outer 
    li a todos los li que son hijos de la calse flex-outer
*/
.flex-outer > li:not(:last-child){
    margin-bottom: 20px;
}

.flex-inner{
    padding: 0 8px;
    justify-content: space-evenly;
}

.flex-outer li label,
.flex-outer li p{
    text-transform: uppercase;
    letter-spacing: .09em;
    padding: 8px;
    font-weight: 500;
}

.flex-outer >li >label,
.flex-outer li p{
    flex: 1 0 120px;
    max-width: 200px;
}

.flex-outer >li >label + *,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea{
    padding: 15px;
    border: none;
}

.flex-outer li button{
    background: rgb(18, 217, 231);
    color: black;
    margin: auto;
    padding: 8px 16px;
    text-transform: uppercase;
    border-radius: 10px;
    letter-spacing: .09em;
    font-weight: 800;
}